<div id="gallery-screen.html">
    <div screen="gallery">
        <div class="container">

            <div class="row">

                <div class="col-sm-8">
                    <div class="dp-header">Image Gallery</div>

                    <div class="box-item">
                        <div class="projects">
                            <div class="project">
                                <div class="project-title">Human Resources</div>
                                <img src="public/img/folder-2.svg" alt="">
                            </div>
                            <div class="project">
                                <div class="project-title">West Zone Development</div>
                                <img src="public/img/folder-2.svg" alt="">
                            </div>
                            <div class="project">
                                <div class="project-title">Intranet Upgrade</div>
                                <img src="public/img/folder-2.svg" alt="">
                            </div>
                            <div class="project">
                                <div class="project-title">Branding</div>
                                <img src="public/img/folder-2.svg" alt="">
                            </div>
                            <div class="project">
                                <div class="project-title">DPG Expansion</div>
                                <img src="public/img/folder-2.svg" alt="">
                            </div>
                            <div class="project">
                                <div class="project-title">Corporate Governance</div>
                                <img src="public/img/folder-2.svg" alt="">
                            </div>
                            <div class="project">
                                <div class="project-title">Staff Photos</div>
                                <img src="public/img/folder-2.svg" alt="">
                            </div>
                            <div class="project">
                                <div class="project-title">Internal Branding</div>
                                <img src="public/img/folder-2.svg" alt="">
                            </div>
                            <div class="project">
                                <div class="project-title">Office Photos</div>
                                <img src="public/img/folder-2.svg" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <vacancies-item></vacancies-item>
                    <!--<gallery-item></gallery-item>-->
                </div>
            </div>


        </div>
    </div>
</div>