<div id="legal-screen.html">
    <div screen="legal">
        <div class="container">


            <div class="pull-right" style="margin-top: 30px;">
                <div class="butn teal" ui-sref="legal">My Cases &nbsp; <i class="fa fa-list-ul"></i></div>
                <div class="butn" ui-sref="case-form">Raise a Case &nbsp; +</div>
            </div>

            <div class="dp-header">Legal Case Management</div>

            <div class="row">
                <div class="col-md-3">
                    <div class="box-item" header="Filter Cases">
                        <div class="search-filters">
                            <div class="search-filter">
                                <input type="text" placeholder="Search Cases">
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">Select Department</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Sections</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Request Types</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Document Types</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Statuses</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Priorities</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Legal Reps</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-9">
                    <div class="box-item" header="My Cases">
                        <div class="case-documents" ui-sref="case">
                            <div class="result" ng-repeat="case in getCases()">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        {{case.id}}
                                        <span class="case-status" ng-if="case.open">OPEN</span>
                                        <span class="case-status closed" ng-if="!case.open">CLOSED</span>
                                    </div>
                                    <p><span class="fa fa-caret-right"></span> &nbsp; <strong>Department: </strong> {{case.department}}</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn teal" ui-sref="case">Reply &nbsp; <i class="fa fa-pencil"></i></div>
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>