<div id="legal-screen.html">
    <div screen="legal">
        <div class="container">


            <div class="pull-right" style="margin-top: 30px;">
                <div class="butn" ui-sref="legal">My Cases &nbsp; <i class="fa fa-list-ul"></i></div>
                <div class="butn">Raise a Case &nbsp; +</div>
            </div>

            <div class="dp-header">Legal Case Management</div>

            <div class="row">
                <div class="col-md-3">
                    <box-item header="Filter Cases">
                        <div class="search-filters">
                            <div class="search-filter">
                                <input type="text" placeholder="Search Cases">
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">Order By Date</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Categories</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Subtypes</option>
                                </select>
                            </div>
                        </div>
                    </box-item>

                </div>
                <div class="col-md-9">
                    <box-item header="My Cases">
                        <div class="case-documents" ui-sref="case">
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        Internal Staff List 2016
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Error maxime, neque officia praesentium repudiandae similique.</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        Excepturi Optio
                                        <span class="case-status closed">CLOSED</span>
                                    </div>
                                    <p>Amet autem cumque dolore eaque inventore nostrum obcaecati repudiandae vel voluptas voluptatem!</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        Illo Ipsam Recusandae Saepe
                                        <span class="case-status closed">CLOSED</span>
                                    </div>
                                    <p>Distinctio ducimus ea enim ipsam nisi sed tempora. Autem libero nemo quibusdam.</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        Internal Staff List 2016
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Error maxime, neque officia praesentium repudiandae similique.</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        DPG 2015
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Amet autem cumque dolore eaque inventore nostrum obcaecati repudiandae vel voluptas voluptatem!</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        DPG 2016
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Distinctio ducimus ea enim ipsam nisi sed tempora. Autem libero nemo quibusdam.</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        Internal Staff List 2016
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Error maxime, neque officia praesentium repudiandae similique.</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        DPG 2015
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Amet autem cumque dolore eaque inventore nostrum obcaecati repudiandae vel voluptas voluptatem!</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        DPG 2016
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Distinctio ducimus ea enim ipsam nisi sed tempora. Autem libero nemo quibusdam.</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        Internal Staff List 2016
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Error maxime, neque officia praesentium repudiandae similique.</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        DPG 2015
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Amet autem cumque dolore eaque inventore nostrum obcaecati repudiandae vel voluptas voluptatem!</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        DPG 2016
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Distinctio ducimus ea enim ipsam nisi sed tempora. Autem libero nemo quibusdam.</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        Internal Staff List 2016
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Error maxime, neque officia praesentium repudiandae similique.</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        DPG 2015
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Amet autem cumque dolore eaque inventore nostrum obcaecati repudiandae vel voluptas voluptatem!</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/folder (2).svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        DPG 2016
                                        <span class="case-status">OPEN</span>
                                    </div>
                                    <p>Distinctio ducimus ea enim ipsam nisi sed tempora. Autem libero nemo quibusdam.</p>
                                </div>
                                <div class="case-actions" style="margin-left: auto">
                                    <div class="butn" ui-sref="case">View &nbsp; <i class="fa fa-arrow-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </box-item>
                </div>
            </div>


        </div>
    </div>
</div>