.screen-legal {

  .result {
    padding: 10px 5px;

    &:hover {
      padding-left:15px;
    }
  }

  .case-status {
    background: $green;
    color: white;
    line-height: 1;
    padding: 5px 10px;
    font-size: 10px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: text-top;

    &.closed {
      background: $red;
    }
  }

  .case-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #555;
    margin-left: auto;
    flex-direction: column;

    > * {
      margin-left: 3px;
    }

    .butn {
      width: 100px;
      margin-bottom: 1px;
      .fa {
        vertical-align: top;
        font-size: 85%;
      }
    }
  }

  .result-content p {
    font-size: 12px;
    margin-top: 2px;
    transition: .2s;

    &:hover {
      color: #333;
    }

  }
}