<div id="home-screen.html">
    <div screen="home">
        <div class="container">

            <div class="announcements-item"></div>
            <div class="services-item"></div>
            <div class="hero-item"></div>
            <!--<announcements-item></announcements-item>-->
            <!--<services-item></services-item>-->
            <!--<hero-item></hero-item>-->

            <div class="row">
                <div class="col-md-8">
                    <div class="press-releases-item"></div>
                    <div class="documents-item"></div>
                    <div class="promos-item"></div>
                    <!--<press-releases-item></press-releases-item>-->
                    <!--<documents-item></documents-item>-->
                    <!--<promos-item></promos-item>-->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="vacancies-item"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="polls-item"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="events-item"></div>
                    <div class="twitter-item"></div>
                    <div gallery-item></div>

                    <div class="promos">
                        <div class="promo teal" style="height:126px;">
                            <img src="public/img/notebook.svg">
                            <div>Policies & Procedures</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>