<script type="text/ng-template" id="home-screen.html">
    <div screen="home">
        <div class="container">

            <announcements-item></announcements-item>
            <services-item></services-item>
            <hero-item></hero-item>

            <div class="row">
                <div class="col-md-8">
                    <press-releases-item></press-releases-item>
                    <documents-item></documents-item>
                    <promos-item></promos-item>

                    <div class="row">
                        <div class="col-md-6">
                            <vacancies-item></vacancies-item>
                        </div>
                        <div class="col-md-6">
                            <polls-item></polls-item>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <events-item></events-item>
                    <twitter-item></twitter-item>
                    <gallery-item></gallery-item>
                </div>
            </div>
        </div>

    </div>
</script>