twitter-item {

  .twitter {
    .tweet {
      display: flex;
      flex-direction: row;
      margin-top: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #eee;

      &:first-child {
        margin-top: 0
      }

      &:last-child {
        //margin-top: 0;
        border-bottom: 0px solid #eee;
        padding-bottom: 0px;
      }

      img {
        height: 50px;
        margin-right: 10px;
      }

      a {
        color: $primary;
        font-weight: bold;
      }

    }

  }
}
