<div id="twitter">
    <div class="box-item" header="Tweet Feed" butn-text="@DPGplc">

        <div class="twitter">
            <div class="tweet">
                <div class="tweet-icon">
                    <img src="https://pbs.twimg.com/profile_images/783221121583898624/61fegpZf_400x400.jpg" alt="">
                </div>
                <div class="tweet-content">
                    Latest
                    <a href="">@TowardsMaturity</a> report shows how transforming formal #learning can bring #business results:
                    <a href="">http://bit.ly/2cADHPM</a> supported by DPG
                </div>
            </div>
            <div class="tweet">
                <div class="tweet-icon">
                    <img src="https://pbs.twimg.com/profile_images/783221121583898624/61fegpZf_400x400.jpg" alt="">
                </div>
                <div class="tweet-content">
                    A fantastic and inspiring video about self development through CPD
                    <a href="">#loveCPD</a>
                </div>
            </div>
            <div class="tweet">
                <div class="tweet-icon">
                    <img src="https://pbs.twimg.com/profile_images/783221121583898624/61fegpZf_400x400.jpg" alt="">
                </div>
                <div class="tweet-content">
                    Excited for
                    <a href="">#PMAs16</a>? One of DPG's participants have been shortlisted for the Michael Kelly Outstanding Student Award
                    <a href="">http://bit.ly/2djb87v</a>
                </div>
            </div>
        </div>
        <!--<p style="margin-top: 15px">-->
            <!--<span class="butn"><i class="fa fa-twitter"></i> &nbsp; @DPGplc</span>-->
        <!--</p>-->
    </div>
</div>