<script type="text/ng-template" id="header.html">

    <div class="header">
        <div class="header-bottom">
            <div class="container">
                <div class="bottom-item header-menu">
                    Menu &nbsp; <i class="fa fa-angle-down"></i>

                    <div class="menu-1">
                        <div class="menu-1-item" ui-sref="home">Home</div>
                        <div class="menu-1-item">
                            Human Resources
                            <i class="fa fa-angle-right pull-right"></i>

                            <div class="menu-2">
                                <div class="menu-2-item">Documentation</div>
                                <div class="menu-2-item">Support</div>
                            </div>
                        </div>
                        <div class="menu-1-item">Shield Line</div>
                        <div class="menu-1-item">Linkit</div>
                        <div class="menu-1-item" ui-sref="legal">Legal Cases</div>
                        <div class="menu-1-item">Documents</div>
                    </div>
                </div>
                <div class="bottom-item item-menu">DP Destinations</div>
                <div class="bottom-item item-menu">DP Projects</div>
                <div class="bottom-item item-menu">DP Management</div>
                <div class="bottom-item item-menu">DP Business Structure</div>
                <div class="bottom-item item-menu">Dubai Holding</div>

                <div class="pull-right bottom-item">
                    Ahmed Mahmood
                    <div class="pull-right item-image" style="background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRJ1XFhWAazn6HUs97tdWjgYCPaxzli3TCrFPDxSi1eVAkOkstO')"></div>
                </div>
                <div class="bottom-item item-menu pull-right" style="color: black">44°C &nbsp;
                    <i class="fa fa-sun-o"></i></div>
            </div>
        </div>
        <div class="header-top">
            <div class="container">
                <div class="logo" ui-sref="home">
                    <img src="public/img/hewaar-white.png" alt="">
                </div>

                <div class="logo right" ui-sref="home">
                    <img src="public/img/dp-logo-trans.png" alt="" style="height: 60px;margin-top: 0">
                </div>

                <div class="menu-search">
                    <i class="fa fa-search" ui-sref="search"></i>
                    <input type="text" placeholder="Search Hewaar">
                </div>
            </div>
        </div>
    </div>
</script>