<div ng-controller="headerCtrl">
    <div class="header">
        <div class="header-bottom">
            <div class="container">

                <div ng-repeat="test in getTest() track by $index" class="bottom-item item-menu">
                    {{test}}
                </div>

                <div class="bottom-item item-menu">DP Destinations</div>
                <div class="bottom-item item-menu">DP Projects</div>
                <div class="bottom-item item-menu">DP Management</div>
                <div class="bottom-item item-menu">DP Business Unit</div>
                <div class="bottom-item item-menu">Dubai Holding</div>

                <div class="pull-right bottom-item">
                    Ahmed Mahmood
                    <div class="pull-right item-image" style="background-image: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRJ1XFhWAazn6HUs97tdWjgYCPaxzli3TCrFPDxSi1eVAkOkstO')"></div>
                </div>
            </div>
        </div>
        <div class="header-top">
            <div class="container">
                <div class="logo" ui-sref="home">
                    <img src="http://nathans.zone/sandbox/dubai/public/img/hewaar-white.png" alt="hewaar logo">
                </div>

                <div class="logo right" ui-sref="home">
                    <img src="http://nathans.zone/sandbox/dubai/public/img/dp-logo-trans.png" style="height: 60px;margin-top: 0" alt="dp logo">
                </div>

                <div class="menu-search">
                    <i class="fa fa-search" ui-sref="search"></i>
                    <input type="text" placeholder="Search Hewaar">
                </div>
            </div>
        </div>
    </div>
</div>