header-item {

  header-menu {
    display: inline;
  }

  .header {
    background: white;
    text-align: center;
    //border-bottom:1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

    a {
      display: block;
      text-decoration: none;
    }

    .container {
      position: relative;
    }

    .header-top {
      background: $primary;
      height: 100px;
      line-height: 60px;
      padding: 20px 0;

      .menu-items {
        float: right;
        display: inline-block;
      }

      .menu-item {
        float: left;
        font-size: 13px;
        text-transform: uppercase;
        //padding: 0 20px;
        font-weight: 700;
        letter-spacing: 1px;
        //color: black;

        .dropdown {
          line-height: 23px;
          padding: 5px 10px;
          margin-top: 12px;
          border: 1px solid rgba(0, 0, 0, 0.3);
          background: rgba(0, 0, 0, 0.02);
          border: 1px solid transparentize($primary, 0.1);
          background: transparentize($primary, 0.2);
          color: white;
        }

        .fa {
          vertical-align: top;
        }

      }

      .menu-search {
        line-height: 20px;
        padding: 5px 10px;
        height: 30px;
        margin-top: 15px;
        //border: 1px solid white;
        color: rgba(0, 0, 0, 0.3);
        background: #eee;
        //border-radius: 3px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        position: absolute;
        margin-left: -150px;
        ////border-radius: 0px;
        //width: 200px;
        //padding: 0 10px;
        //vertical-align: middle;
        .fa {
          //vertical-align: middle;
          position: absolute;
          right: 0;
          top: 0;
          height: 30px;
          width: 30px;
          text-align: center;
          background: $teal;
          //background: $primary;
          color: white;
          //color: black;
          line-height: 30px;
          font-size: 16px;
          cursor: pointer;
        }

        input {
          background: none;
          border: none;
          width: 300px;
          height: 20px;
          line-height: 20px;
          padding: 0;
          margin: 0;
          outline: none;
          font-weight: 300;
          color: black;
          padding-left: 5px;
          //vertical-align: middle;
        }
      }
    }

    .header-bottom {
      background: darken($primary, 0%);
      background: lighten(black, 5%);
      background: #eee;
      color: white;
      height: 30px;
      line-height: 30px;
      text-align: left;
      font-weight: 300;
      font-size: 13px;
      white-space: nowrap;
      //overflow: hidden;

      .bottom-item {
        padding: 0 15px;
        background: white;
        color: black;
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        display: inline-block;
        float: left;

        &.item-menu {
          background: #f7f7f7;
          border-right: 1px solid #fff;
          color: #999;
          font-weight: normal;
        }

        .item-image {
          padding: 0;
          height: 20px;
          width: 20px;
          margin: 5px 0 5px 10px;
          background-position: center;
          background-size: cover;
        }
      }
    }

    .logo {
      position: absolute;
      cursor: pointer;
      transition: .2s;

      &:hover {
        transform: scale(1.05);
      }

      &.right {
        right: 15px;
      }

      img {
        height: 40px;
        vertical-align: top;
        margin-top: 10px;
        float: left;

        &:first-child {
          filter: grayscale(0%);
          opacity: 1;
        }
      }

      .line {
        height: 30px;
        margin: 0 10px;
        width: 3px;
        background: #eee;
        float: left;
        margin-top: 15px;
      }

      &.right {
        right: 15px;
      }
    }
  }
}