<script type="text/ng-template" id="vacancies.html">
    <div class="vacancies">
        <box-item header="Internal Vacancies" butn-text="All Vacancies">

            <div class="vacancy">
                <div class="vacancy-content">
                    <div class="vacancy-header">Front End Developer</div>
                    <p>HTML, JavaScript, C#. ASP.Net, TDD/BDD, Jira, Confluence, Agile/Waterfall...</p>
                </div>
                <div class="vacancy-arrow"><i class="fa fa-caret-right"></i></div>
            </div>
            <div class="vacancy">
                <div class="vacancy-content">
                    <div class="vacancy-header">Data Analyst</div>
                    <p>Data Analyst - Business Intelligence This is initially a 12 month contract based in The City of London...</p>
                </div>
                <div class="vacancy-arrow"><i class="fa fa-caret-right"></i></div>
            </div>
            <div class="vacancy">
                <div class="vacancy-content">
                    <div class="vacancy-header">Administrator</div>
                    <p>Systems Administrator - Splunk, Cloud, AWS, Opsview...</p>
                </div>
                <div class="vacancy-arrow"><i class="fa fa-caret-right"></i></div>
            </div>
        </box-item>
    </div>
</script>