<div id="press-releases">
    <div class="box-item" header="Press Releases" butn-text="All Press Releases">
        <div class="press-releases">
            <div class="hero-main">
                <div class="main-img" style="background-image: url('http://www.arthurweill.fr/img/unsplash/images_1280/tumblr_n8zm2tFWMf1st5lhmo1_1280.jpg')"></div>
                <div class="main-overlay"></div>
                <div class="main-cat">Corporate</div>
                <div class="main-title">Design Innovation Project Launched</div>
            </div>
            <div class="hero-main">
                <div class="main-img" style="background-image: url('http://www.arabianbusiness.com/incoming/article623751.ece/BINARY/Dubai-property.jpg')"></div>
                <div class="main-overlay"></div>
                <div class="main-cat">Corporate</div>
                <div class="main-title">DP Expansion Underway</div>
            </div>
            <div class="hero-main">
                <div class="main-img" style="background-image: url('http://postbulletin.typepad.com/.a/6a00d83451cc8269e2010536b37c34970b-pi')"></div>
                <div class="main-overlay"></div>
                <div class="main-cat">Corporate</div>
                <div class="main-title">Partnership with IBM announced</div>
            </div>
        </div>
    </div>
</div>