<div id="services">
    <div class="services">
        <div class="service">
            <div class="service-overlay"></div>
            <div class="service-icon">
                <img src="public/img/group.svg"/>
            </div>
            <div class="service-content">Human Resources</div>
        </div>
        <div class="service">
            <div class="service-overlay"></div>
            <div class="service-icon">
                <img src="public/img/magnifier.svg"/>
            </div>
            <div class="service-content">Vacancies</div>
        </div>
        <div class="service">
            <div class="service-overlay"></div>
            <div class="service-icon">
                <img src="public/img/security-shield.svg"/>
            </div>
            <div class="service-content">Shield Line</div>
        </div>
        <div class="service">
            <div class="service-overlay"></div>
            <div class="service-icon">
                <img src="public/img/web-link.svg"/>
            </div>
            <div class="service-content">Linkit</div>
        </div>
        <div class="service" ui-sref="legal">
            <div class="service-overlay"></div>
            <div class="service-icon">
                <img src="public/img/hammer-legal-tool-symbol.svg"/>
            </div>
            <div class="service-content">Legal Cases</div>
        </div>
        <div class="service">
            <div class="service-overlay"></div>
            <div class="service-icon">
                <img src="public/img/files.svg"/>
            </div>
            <div class="service-content">Document Manager</div>
        </div>
    </div>
</div>