<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Dubai Properties</title>
    <meta name="description" content=""/>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/lib.css"/>
    <link rel="stylesheet" href="public/app.css"/>

    <link href="https://fonts.googleapis.com/css?family=Assistant:100,200,300,400,600,700" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>

<div data-ng-app="app">

    <header-item>
        <header-menu>
            <a href="#" class="menu-1-item" ui-sref="home">Home</a>
            <div class="menu-1-item">
                Human Resources
                <i class="fa fa-angle-right pull-right"></i>

                <div class="menu-2">
                    <a href="#" class="menu-2-item">Documentation</a>
                    <a href="#" class="menu-2-item">Support</a>
                </div>
            </div>
            <div class="menu-1-item">Shield Line</div>
            <div class="menu-1-item">Linkit</div>
            <div class="menu-1-item">
                Legal Cases
                <i class="fa fa-angle-right pull-right"></i>

                <div class="menu-2">
                    <a href="#" class="menu-2-item" ui-sref="legal">Legal Case Management</a>
                    <a href="#" class="menu-2-item" ui-sref="case-form">New Case</a>
                </div>
            </div>
            <div class="menu-1-item">Documents</div>
        </header-menu>
    </header-item>


    <!--<script>(function(t,e,c,n){var o,s,a;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(c),s=o[o.length-1],a=e.createElement(c),a.type="text/javascript",a.async=!0,a.id=n,a.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/dDMSyR8BR9csewvaaowXS2SHb1vMr5PGAxt_2FST7JFwD0QnO6F1mfQCcZFC7ONvxm.js"].join(""),s.parentNode.insertBefore(a,s))})(window,document,"script","smcx-sdk");</script>-->

    <div ui-view></div>

    <foot-item></foot-item>
    <event-item></event-item>

</div>
<script src="public/lib.js"></script>
<script src="public/app-standard.js"></script>
<script src="public/templates.js"></script>

</body>
</html>