<div id="case-screen.html">
    <div screen="case">
        <div class="container">

            <div class="pull-right" style="margin-top: 30px;">
                <div class="butn teal" ui-sref="legal">All Cases &nbsp; <i class="fa fa-list-ul"></i></div>
                <div class="butn" ui-sref="case-form">Raise a Case &nbsp; +</div>
            </div>

            <div class="dp-header">Legal Case Management</div>
            <!--<div></div>-->
            <!--<div class="dp-subheader">Case Detail</div>-->

            <div class="box-item" header="Case Info">
                <div class="case-header">
                    <div class="header-field">
                        <div class="header-label">Case ID</div>
                        <div class="header-value">9b72r68e27</div>
                    </div>
                    <div class="header-field">
                        <div class="header-label">Date</div>
                        <div class="header-value">16th October 2016</div>
                    </div>
                    <div class="header-field">
                        <div class="header-label">Status</div>
                        <div class="header-value">OPEN</div>
                    </div>
                    <div class="header-field">
                        <div class="header-label">Priority</div>
                        <div class="header-value">High</div>
                    </div>
                    <div class="header-field">
                        <div class="header-label">Requested By</div>
                        <div class="header-value">Alejandro</div>
                    </div>
                    <div class="header-field">
                        <div class="header-label">Request Type</div>
                        <div class="header-value">Project 142596</div>
                    </div>
                    <div class="header-field">
                        <div class="header-label">Contact Details</div>
                        <div class="header-value">legal@dpg.com</div>
                    </div>
                    <div class="header-field">
                        <div class="header-label"> Business Unit</div>
                        <div class="header-value">Marketing</div>
                    </div>
                </div>
                <div class="case-header" style="margin-top: 0px">
                    <div class="header-field max">
                        <div class="header-label" style="flex: 1 0 auto">Detailed Description</div>
                    </div>
                    <div class="header-field max flush">
                        <div class="header-textarea">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor odio perspiciatis quidem quis? Ad assumenda debitis deserunt dolorum eaque fuga hic iste necessitatibus, non numquam odit optio possimus quae quasi quisquam repellendus reprehenderit repudiandae suscipit tempora temporibus ut veritatis voluptates? Aliquid beatae expedita, laborum maxime quaerat sed! Harum incidunt, ipsum?</div>
                    </div>
                </div>
            </div>

            <div class="box-item" header="Case Documents">
                <div class="box-content">
                    <div class="case-documents">
                        <div class="result">
                            <img class="result-icon" src="public/img/doc.svg">
                            <div class="result-content">
                                <div class="dp-title">Internal Staff List 2016</div>
                                <p>Error maxime, neque officia praesentium repudiandae similique.</p>
                            </div>
                        </div>
                        <div class="result">
                            <img class="result-icon" src="public/img/pdf.svg">
                            <div class="result-content">
                                <div class="dp-title">DPG 2015</div>
                                <p>Amet autem cumque dolore eaque inventore nostrum obcaecati repudiandae vel voluptas voluptatem!</p>
                            </div>
                        </div>
                        <div class="result">
                            <img class="result-icon" src="public/img/pdf.svg">
                            <div class="result-content">
                                <div class="dp-title">DPG 2016</div>
                                <p>Distinctio ducimus ea enim ipsam nisi sed tempora. Autem libero nemo quibusdam.</p>
                            </div>
                        </div>
                        <div class="result">
                            <img class="result-icon" src="public/img/doc.svg">
                            <div class="result-content">
                                <div class="dp-title">Internal Staff List 2016</div>
                                <p>Error maxime, neque officia praesentium repudiandae similique.</p>
                            </div>
                        </div>
                        <div class="result">
                            <img class="result-icon" src="public/img/pdf.svg">
                            <div class="result-content">
                                <div class="dp-title">DPG 2015</div>
                                <p>Amet autem cumque dolore eaque inventore nostrum obcaecati repudiandae vel voluptas voluptatem!</p>
                            </div>
                        </div>
                        <div class="result">
                            <img class="result-icon" src="public/img/pdf.svg">
                            <div class="result-content">
                                <div class="dp-title">DPG 2016</div>
                                <p>Distinctio ducimus ea enim ipsam nisi sed tempora. Autem libero nemo quibusdam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>