<div id="case-screen.html">
    <div screen="case">
        <div class="container">

            <div class="pull-right" style="margin-top: 30px;">
                <div class="butn" ui-sref="legal">My Cases &nbsp; <i class="fa fa-list-ul"></i></div>
                <div class="butn">Raise a Case &nbsp; +</div>
            </div>

            <div class="dp-header">Legal Case Management</div>
            <!--<div></div>-->
            <!--<div class="dp-subheader">Case Detail</div>-->

            <box-item header="Case Info">
                <div class="case-header">
                    <div class="header-field">
                        <div class="header-label">Case ID</div>
                        <div class="header-value">9b72r68e27</div>
                    </div>
                    <div class="header-field">
                        <div class="header-label">Date</div>
                        <div class="header-value">16th October 2016</div>
                    </div>
                    <div class="header-field max">
                        <div class="header-label">Description</div>
                        <div class="header-value">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam beatae doloribus exercitationem? Commodi inventore ipsa iure nesciunt nostrum sapiente sint?</div>
                    </div>
                </div>
            </box-item>

            <box-item header="Case Documents">
                <div class="box-content">
                    <div class="case-documents">
                        <div class="result">
                            <img class="result-icon" src="public/img/doc.svg">
                            <div class="result-content">
                                <div class="dp-title">Internal Staff List 2016</div>
                                <p>Error maxime, neque officia praesentium repudiandae similique.</p>
                            </div>
                        </div>
                        <div class="result">
                            <img class="result-icon" src="public/img/pdf.svg">
                            <div class="result-content">
                                <div class="dp-title">DPG 2015</div>
                                <p>Amet autem cumque dolore eaque inventore nostrum obcaecati repudiandae vel voluptas voluptatem!</p>
                            </div>
                        </div>
                        <div class="result">
                            <img class="result-icon" src="public/img/pdf.svg">
                            <div class="result-content">
                                <div class="dp-title">DPG 2016</div>
                                <p>Distinctio ducimus ea enim ipsam nisi sed tempora. Autem libero nemo quibusdam.</p>
                            </div>
                        </div>
                        <div class="result">
                            <img class="result-icon" src="public/img/doc.svg">
                            <div class="result-content">
                                <div class="dp-title">Internal Staff List 2016</div>
                                <p>Error maxime, neque officia praesentium repudiandae similique.</p>
                            </div>
                        </div>
                        <div class="result">
                            <img class="result-icon" src="public/img/pdf.svg">
                            <div class="result-content">
                                <div class="dp-title">DPG 2015</div>
                                <p>Amet autem cumque dolore eaque inventore nostrum obcaecati repudiandae vel voluptas voluptatem!</p>
                            </div>
                        </div>
                        <div class="result">
                            <img class="result-icon" src="public/img/pdf.svg">
                            <div class="result-content">
                                <div class="dp-title">DPG 2016</div>
                                <p>Distinctio ducimus ea enim ipsam nisi sed tempora. Autem libero nemo quibusdam.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </box-item>

        </div>
    </div>
</div>