<div id="discounts-screen.html">
    <div class="screen-discounts">
        <div class="container">

            <div class="row">

                <div class="col-sm-8">
                    <div class="dp-header">Discounts & Offers</div>

                    <div class="box-item">
                        <div class="discounts">
                            <div class="discount" style="background-image: url('http://mm.aiircdn.com/137/785818.jpg')">
                                <div class="discount-content">
                                    <p><strong class="discount-title">Employee offer from NONNO at Bay Avenue</strong></p>
                                    <p><strong>Company: </strong> Nonno Restaurant</p>
                                    <p><strong>Expires: </strong> 30 Sep 2016</p>
                                </div>
                                <div class="discount-butn">Discount: 50%</div>
                            </div>
                            <div class="discount" style="background-image: url('http://visitabudhabi.ae/DataFolder/Images/Thumbnails/900x600//12-Visit-Abu-Dhabi-Home-Page-2014.jpg')">
                                <div class="discount-content">
                                    <p><strong class="discount-title"s>Abu Dhabi Hotels Eid Al-Adha offer</strong></p>
                                    <p><strong>Company: </strong> DNATA</p>
                                    <p><strong>Expires: </strong> 30 Sep 2016</p>
                                </div>
                                <div class="discount-butn">Summer Discount</div>
                            </div>
                            <div class="discount" style="background-image: url('http://www.ciarb.org/images/default-source/ciarb/our-network/landing/india-resized.jpg?sfvrsn=6')">
                                <div class="discount-content">
                                    <p><strong class="discount-title">Discover India with Trident Hotels</strong></p>
                                    <p><strong>Company: </strong> SNTTA</p>
                                    <p><strong>Expires: </strong> 20 Sep 2016</p>
                                </div>
                                <div class="discount-butn">Discount: 50% Off</div>
                            </div>
                            <div class="discount" style="background-image: url('http://www.uaeinteract.com/news/article_pics/uae-59535.jpg')">
                                <div class="discount-content">
                                    <p><strong class="discount-title">Mall Discount</strong></p>
                                    <p><strong>Company: </strong> SNTTA</p>
                                    <p><strong>Expires: </strong> 26 Sep 2016</p>
                                </div>
                                <div class="discount-butn">Discount: 15% Off</div>
                            </div>
                            <div class="discount" style="background-image: url('http://tocdn2-35e9.kxcdn.com/thumb/md-8/content/8_free_dubai_beaches/jbrbeach4172012_base.jpg')">
                                <div class="discount-content">
                                    <p><strong class="discount-title">Dubai Hotels Discount</strong></p>
                                    <p><strong>Company: </strong> SNTTA</p>
                                    <p><strong>Expires: </strong> 15 Oct 2016</p>
                                </div>
                                <div class="discount-butn">Discount: 10% Off</div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="col-sm-4">
                    <vacancies-item></vacancies-item>
                    <gallery-item></gallery-item>
                </div>
            </div>


        </div>
    </div>
</div>