<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Dubai Properties</title>
    <meta name="description" content=""/>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/lib.css"/>
    <link rel="stylesheet" href="public/app.css"/>

    <link href="https://fonts.googleapis.com/css?family=Assistant:100,200,300,400,600,700" rel="stylesheet"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body data-ng-app="app">

    <header-item>
        <header-links>
            <a href="#" class="bottom-item item-menu">DP Destinations</a>
            <a href="#" class="bottom-item item-menu">DP Projects</a>
            <a href="#" class="bottom-item item-menu">DP Management</a>
            <a href="#" class="bottom-item item-menu">DP Business Unit</a>
            <a href="#" class="bottom-item item-menu">Dubai Holding</a>
        </header-links>
    </header-item>

    <div ui-view></div>

    <div foot-item></div>
    <div event-item></div>