<div id="events">
    <box-item header="Upcoming Events" butn-text="All Events">
        <div class="events" ng-click="toggleEvent()">
            <div class="event teal">
                <div class="event-date">
                    <div class="date-number">05</div>
                    <div class="date-month">Nov</div>
                </div>
                <div class="event-content">
                    Fundraising Dinner
                    <div class="content-small">Annual internal and privileged client dinner</div>
                </div>
            </div>
            <div class="event blue">
                <div class="event-date">
                    <div class="date-number">12</div>
                    <div class="date-month">Dec</div>
                </div>
                <div class="event-content">
                    Investor Call
                    <div class="content-small">Asperiores debitis dolor eaque expedita, in omnis</div>
                </div>
            </div>
            <div class="event">
                <div class="event-date">
                    <div class="date-number">28</div>
                    <div class="date-month">Jan</div>
                </div>
                <div class="event-content">
                    West Zone Opening
                    <div class="content-small">DPG opens West Zone retail facility at Al Waha</div>
                </div>
            </div>
            <div class="event">
                <div class="event-date">
                    <div class="date-number">04</div>
                    <div class="date-month">Mar</div>
                </div>
                <div class="event-content">
                    Nostrum Perspiciatis
                    <div class="content-small">Kuis quod repellendus temporibus totam veritatis.</div>
                </div>
            </div>
        </div>
    </box-item>
</div>