<div id="vacancy-screen.html">
    <div class="screen-vacancy">
        <div class="container">

            <div class="row">

                <div class="col-sm-8">

                    <!--<div class="vacancy-hero">-->
                        <!--<div class="hero-main large">-->
                            <!--&lt;!&ndash;<div class="main-img" style="background-image: url('http://www.arthurweill.fr/img/unsplash/images_1280/7dwwcdv7wc4_1280.jpg')"></div>&ndash;&gt;-->
                            <!--&lt;!&ndash;<div class="main-overlay"></div>&ndash;&gt;-->
                            <!--<div class="main-title">Front End Developer</div>-->
                            <!--&lt;!&ndash;<div class="main-text">Facere fugit itaque iusto modi omnis perferendis quis quod reiciendis totam voluptatem.</div>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="vacancy-date pull-right" style="margin-top: 30px">12th October 2016</div>
                    <div class="dp-header">Data Analyst</div>

                    <div class="vacancy-screen-content">
                        <!--<div class="vacancy-cat">Corporate</div>-->
                        <div class="vacancy-summary" style="margin-top: 0">
                            Data Analyst - Business Intelligence This is initially a 12 month contract based in The City of London...
                        </div>

                        <h2>Full Job Spec</h2>

                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

                        <p>Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>

                        <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>

                        <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</p>

                        <h2>Working At DPG</h2>

                        <p>Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>

                        <p>Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>

                        <p>In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>

                        <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.</p>

                        <p><span class="butn">Apply Via Email &nbsp; <i class="fa fa-angle-right"></i></span></p>


                    </div>
                </div>

                <div class="col-sm-4">
                    <vacancies-item></vacancies-item>
                    <gallery-item></gallery-item>
                </div>
            </div>


        </div>
    </div>
</div>