<div id="case-form-screen.html">
    <div screen="case-form">
        <div class="container">


            <div class="pull-right" style="margin-top: 30px;">
                <div class="butn teal" ui-sref="legal">All Cases &nbsp; <i class="fa fa-list-ul"></i></div>
                <div class="butn" ui-sref="case-form">Raise a Case &nbsp; +</div>
            </div>

            <div class="dp-header">Legal Case Management</div>

            <div class="box-item" header="Submit A Legal Case">
                <div class="row">
                    <div class="col-md-6">
                        <div class="case-field">
                            <div class="case-label">Request type</div>
                            <div class="case-input">
                                <select>
                                    <option value="">Select type</option>
                                </select>
                                <div class="fa fa-angle-down"></div>
                            </div>
                            <div class="case-label" style="margin-top: 15px">Date: 07/10/2016</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="case-field">
                            <div class="case-label">Download a template (optional)</div>
                            <div class="case-input">
                                <select>
                                    <option value="">Select template</option>
                                </select>
                                <div class="fa fa-angle-down"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="case-field">
                            <div class="case-label">Name of individual requesting legal services</div>
                            <div class="case-input">
                                <input type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="case-field">
                            <div class="case-label">Contact details</div>
                            <div class="case-input">
                                <input type="text">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="case-field">
                            <div class="case-label">Name of department or business unit</div>
                            <div class="case-input">
                                <select>
                                    <option value="">Select department</option>
                                </select>
                                <div class="fa fa-angle-down"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="case-field">
                            <div class="case-label">Priority</div>
                            <div class="case-input">
                                <select>
                                    <option value="">High</option>
                                </select>
                                <div class="fa fa-angle-down"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="case-field">
                    <div class="case-label">Detailed Description</div>
                    <div class="case-input">
                        <textarea textarea="We require a standard NDA..."></textarea>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-6">
                        <div class="case-field">
                            <div class="case-label">Please upload relevant documents</div>
                            <div class="case-input">
                                <input type="file">
                            </div>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <p>
                    <span class="butn teal"><i class="fa fa-angle-left"></i> &nbsp; Cancel</span>
                    <span class="butn">Submit &nbsp; <i class="fa fa-check"></i></span>
                </p>
        </div>


    </div>
</div>
</div>