<div id="hero">
    <div class="hero">
        <div class="hero-main">
            <div class="main-img" style="background-image: url('http://www.highwaytourism.net/sites/default/files/burj_al_arab_jumeirah_dubai-wide.jpg')"></div>
            <div class="main-overlay"></div>
            <div class="main-cat">Intranet</div>
            <div class="main-title">Hewaar Intranet is Live</div>
            <div class="main-text">Alias debitis dicta fugit odit perferendis rerum vitae! Architecto culpa dolor explicabo nobis placeat? Aliquid eos, rerum.</div>
        </div>

        <div class="hero-items">
            <div class="hero-main">
                <div class="main-img" style="background-image: url('http://www.arthurweill.fr/img/unsplash/images_1280/tumblr_mnh17lfd9R1st5lhmo1_1280.jpg')"></div>
                <div class="main-overlay"></div>
                <div class="main-cat">Human Resources</div>
                <div class="main-title">Consectetur adipisicing elit</div>
                <div class="main-text">Assumenda et impedit natus nisi. Atque exercitationem expedita porro quibusdam ullam vitae.</div>
            </div>
            <div class="hero-main">
                <div class="main-img" style="background-image: url('http://www.arthurweill.fr/img/unsplash/images_1280/7dwwcdv7wc4_1280.jpg')"></div>
                <div class="main-overlay"></div>
                <div class="main-cat">Corporate</div>
                <div class="main-title">New London Sales Office</div>
                <div class="main-text">Facere fugit itaque iusto modi omnis perferendis quis quod reiciendis totam voluptatem.</div>
            </div>
        </div>
    </div>
</div>