<script type="text/ng-template" id="gallery.html">
    <box-item header="Latest Gallery Images" butn-text="All Images">
        <div class="gallery">
            <div class="gallery-item" style="background-image: url('https://unsplash.it/400/?random&1')"></div>
            <div class="gallery-item" style="background-image: url('https://unsplash.it/400/?random&2')"></div>
            <div class="gallery-item" style="background-image: url('https://unsplash.it/400/?random&23')"></div>
            <div class="gallery-item" style="background-image: url('https://unsplash.it/400/?random&234')"></div>
            <div class="gallery-item" style="background-image: url('https://unsplash.it/400/?random&235')"></div>
            <div class="gallery-item" style="background-image: url('https://unsplash.it/400/?random&236')"></div>
            <div class="gallery-item" style="background-image: url('https://unsplash.it/400/?random&237')"></div>
            <div class="gallery-item" style="background-image: url('https://unsplash.it/400/?random&244')"></div>
            <div class="gallery-item" style="background-image: url('https://unsplash.it/400/?random&21')"></div>
        </div>
    </box-item>
</script>