documents-item, .documents-item {

  .more-projects {
    position: relative;

    .box-butn {
      line-height: 29px;
      margin: 5px;
      background: $teal;
      background: #f7f7f7;
      padding: 0 10px;
      float: right;
      cursor: pointer;
      font-size: 12px;
      text-transform: uppercase;
      letter-spacing: 0;
      transition: .2s;
      position: absolute;
      top: -56px;
      right: -15px;
      font-weight: bold;
      border: 1px solid transparent;
      border-bottom: none;

      &:hover {
        background: #f7f7f7;
        color: #333;
        border: 1px solid #ddd;
        border-bottom: none;

        .small-projects {
          visibility: visible;
          opacity: 1;
          transform: translateX(0);
        }
      }

      .small-projects {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: 30px;
        right: -1px;
        background: #f7f7f7;
        color: #333;
        min-width: 150px;
        //border-bottom: #444 1px solid;
        transition: .2s;
        border: 1px solid #ddd;
        //border-bottom: none;
        max-height: 282px;
        overflow-y: auto;
        transform: translateX(-30px);

        .small-project {
          height: 35px;
          line-height: 35px;
          padding: 0 15px;
          background: #f7f7f7;
          color: $teal;
          min-width: 150px;
          white-space: nowrap;
          //border-bottom: #ddd 1px solid;
          transition: .2s;

          img {
            height: 16px;
            margin-right: 10px;
          }

          &:hover {
            background: #ddd;
          }
        }
      }
    }

  }


}
