<div id="documents">
    <div class="box-item" header="Documents">

        <div class="more-projects">
            <div class="box-butn">
                All Folders &nbsp; <i class="fa fa-caret-down"></i>

                <div class="small-projects">
                    <div class="small-project"><img src="public/img/folder-2.svg" alt="">Al Khail Gate</div>
                    <div class="small-project"><img src="public/img/folder-2.svg" alt="">Al Waha</div>
                    <div class="small-project"><img src="public/img/folder-2.svg" alt="">Bay Avenue</div>
                    <div class="small-project"><img src="public/img/folder-2.svg" alt="">Bay Square</div>
                    <div class="small-project"><img src="public/img/folder-2.svg" alt="">Business Bay</div>
                    <div class="small-project"><img src="public/img/folder-2.svg" alt="">JBR</div>
                    <div class="small-project"><img src="public/img/folder-2.svg" alt="">Layan</div>
                    <div class="small-project"><img src="public/img/folder-2.svg" alt="">Mudon</div>
                    <div class="small-project"><img src="public/img/folder-2.svg" alt="">Nuzul</div>
                    <div class="small-project"><img src="public/img/folder-2.svg" alt="">Remraam</div>
                    <div class="small-project"><img src="public/img/folder-2.svg" alt="">Shorooq</div>
                </div>
            </div>

        </div>

        <div class="projects">
            <div class="project">
                <div class="project-title">Al Waha</div>
                <img src="public/img/folder-2.svg" alt="">
                <div class="project-subtitle">Dolorem error expedita molestias quod reprehenderit veritatis.</div>
            </div>
            <div class="project">
                <div class="project-title">Bay Avenue</div>
                <img src="public/img/folder-2.svg" alt="">
                <div class="project-subtitle">Dolorem error expedita molestias quod reprehenderit veritatis.</div>
            </div>
            <div class="project">
                <div class="project-title">Bay Square</div>
                <img src="public/img/folder-2.svg" alt="">
                <div class="project-subtitle">Dolorem error expedita molestias quod reprehenderit veritatis.</div>
            </div>
            <div class="project">
                <div class="project-title">Business Bay</div>
                <img src="public/img/folder-2.svg" alt="">
                <div class="project-subtitle">Dolorem error expedita molestias quod reprehenderit veritatis.</div>
            </div>
            <div class="project">
                <div class="project-title">JBR</div>
                <img src="public/img/folder-2.svg" alt="">
                <div class="project-subtitle">Dolorem error expedita molestias quod reprehenderit veritatis.</div>
            </div>
            <div class="project">
                <div class="project-title">Layan</div>
                <img src="public/img/folder-2.svg" alt="">
                <div class="project-subtitle">Dolorem error expedita molestias quod reprehenderit veritatis.</div>
            </div>
        </div>
    </div>
</div>