<script type="text/ng-template" id="search-screen.html">
    <div screen="search">
        <div class="container">
            <!--<div class="dp-header">Document Search</div>-->

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="search-bar">
                        <input type="search" placeholder="Search Documents">
                        <div class="search-butn"><i class="fa fa-search"></i></div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-3">

                    <box-item header="Filters">
                        <div class="search-filters">
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Types</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Subtypes</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Departments</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Sections</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Functions</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Projects</option>
                                </select>
                            </div>
                        </div>
                    </box-item>

                    <box-item header="Advanced Filters"></box-item>
                </div>

                <div class="col-sm-9">

                    <box-item header="Results 1 - 10 of 34">
                        <div class="search-results">
                            <div class="result">
                                <img class="result-icon" src="public/img/doc.svg">
                                <div class="result-content">
                                    <div class="dp-title">Internal Staff List 2016</div>
                                    <p>Error maxime, neque officia praesentium repudiandae similique.</p>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/pdf.svg">
                                <div class="result-content">
                                    <div class="dp-title">DPG 2015</div>
                                    <p>Amet autem cumque dolore eaque inventore nostrum obcaecati repudiandae vel voluptas voluptatem!</p>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/pdf.svg">
                                <div class="result-content">
                                    <div class="dp-title">DPG 2016</div>
                                    <p>Distinctio ducimus ea enim ipsam nisi sed tempora. Autem libero nemo quibusdam.</p>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/xls.svg">
                                <div class="result-content">
                                    <div class="dp-title">Budget - Summer Procurement</div>
                                    <p>Consectetur nam non, nulla optio totam vitae?</p>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/doc.svg">
                                <div class="result-content">
                                    <div class="dp-title">Information Architecture</div>
                                    <p>Beatae dicta facilis iure molestiae mollitia natus nisi rerum, sequi soluta tenetur, veritatis vitae. Nulla, quas, tempora!</p>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/xls.svg">
                                <div class="result-content">
                                    <div class="dp-title">Major Event Calendar</div>
                                    <p>Error maxime, neque officia praesentium repudiandae similique.</p>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/pdf.svg">
                                <div class="result-content">
                                    <div class="dp-title">Architecture Guidelines</div>
                                    <p>Amet autem cumque dolore eaque inventore nostrum obcaecati repudiandae vel voluptas voluptatem!</p>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/pdf.svg">
                                <div class="result-content">
                                    <div class="dp-title">HR Notes</div>
                                    <p>Distinctio ducimus ea enim ipsam nisi sed tempora. Autem libero nemo quibusdam.</p>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/xls.svg">
                                <div class="result-content">
                                    <div class="dp-title">Budget - Spring Procurement</div>
                                    <p>Consectetur nam non, nulla optio totam vitae?</p>
                                </div>
                            </div>
                            <div class="result">
                                <img class="result-icon" src="public/img/doc.svg">
                                <div class="result-content">
                                    <div class="dp-title">Construction Proposal</div>
                                    <p>Beatae dicta facilis iure molestiae mollitia natus nisi rerum, sequi soluta tenetur, veritatis vitae. Nulla, quas, tempora!</p>
                                </div>
                            </div>
                        </div>
                    </box-item>
                </div>
            </div>


        </div>
    </div>
</script>