<div id="search-screen.html">
    <div screen="search">
        <div class="container">
            <!--<div class="dp-header">Document Search</div>-->

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8">
                    <div class="search-bar">
                        <input type="search" placeholder="Search Documents" ng-model="getSearchFilter().$" autofocus autocomplete="on">
                        <div class="search-butn"><i class="fa fa-search"></i></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">

                    <box-item header="Filters">
                        <div class="search-filters">

                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select ng-model="getSearchFilter().type" style="text-transform: capitalize">
                                    <option value="">All Types</option>
                                    <option value="{{type}}" ng-repeat="type in getTypes()">{{type}}</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Departments</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Sections</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Document Types</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Document Subtypes</option>
                                </select>
                            </div>
                            <div class="search-filter">
                                <div class="fa fa-caret-down"></div>
                                <select>
                                    <option value="">All Projects</option>
                                </select>
                            </div>
                        </div>
                    </box-item>

                    <box-item header="Advanced Filters"></box-item>
                </div>

                <div class="col-sm-9">

                    <box-item header="Results">
                        <div class="search-results">
                            <div class="result" ng-repeat="doc in getDocuments() | filter:getSearchFilter() track by doc.id">
                                <img ng-if="doc.type == 'document'" class="result-icon" src="public/img/{{doc.ext}}.svg">
                                <img ng-if="doc.type == 'press-release'" class="result-icon" src="public/img/newspaper.svg">
                                <img ng-if="doc.type == 'vacancy'" class="result-icon" src="public/img/curriculum-2.svg">
                                <div class="result-content">
                                    <div class="dp-title">
                                        {{doc.title}}
                                        <div class="result-updated">Last Updated {{doc.date}}</div>
                                        <div class="search-type">{{doc.type}}</div>
                                    </div>
                                    <p style="text-transform: capitalize">{{doc.description}}</p>
                                </div>
                            </div>
                        </div>
                    </box-item>
                </div>
            </div>

        </div>
    </div>
</div>