<div id="promos">
    <div class="promos">
        <div class="promo">
            <img src="public/img/books-stack-of-three.svg">
            <div>Book Club</div>
        </div>
        <div class="promo" style="background-image: url('http://images.twistmagazine.com/uploads/posts/image/8722/b9d4e806b4.jpg')">
            <div class="promo-overlay">
                <i class="fa fa-play" style="opacity: 0.8"></i>
                <div>Embrace Activities</div>

            </div>
        </div>
        <div class="promo" ui-sref="discounts">
            <img src="public/img/discount-sticker-with-percentage.svg">
            <div>Offers & Discounts</div>
        </div>
    </div>
</div>