promos-item, .promos-item {
  .promos {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    margin-right: -30px;

    @include mobile {
      flex-wrap: wrap;
      height: auto;
    }


  }
}
