<div id="foot">
    <div class="container">
        <div class="foot">
            <div class="foot-top">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="public/img/hewaar-white.png" alt="" style="height:45px;"><br>
                    </div>
                    <div class="col-sm-3">
                        <div class="foot-title">Contact Us</div>
                        <div class="foot-item">
                            <p>500 oracle parkway</p>
                            <p>Redwood Shores, 94065</p>
                            <p>Phone: 800 DPUAE (800 37823)</p>
                            <p>Email:admin@dp.ae</p>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="foot-title">Go Social</div>
                        <div class="foot-item">
                            <p>
                                <i class="fa fa-fw fa-facebook"></i>
                                <i class="fa fa-fw fa-twitter"></i>
                                <i class="fa fa-fw fa-instagram"></i>
                                <i class="fa fa-fw fa-linkedin"></i>
                                <i class="fa fa-fw fa-youtube"></i>
                            </p>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <img src="public/img/dp-logo-trans.png" alt="" style="height:50px">
                    </div>
                </div>
            </div>
            <div class="foot-bottom">
                <a href="#">About Dubai Properties</a> &nbsp; | &nbsp; <a>Privacy Statement</a>
                <p>Copyright © 2016, Dubai Properties and/or its affiliates. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>