.screen-gallery-folder {

  .gallery-folder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: -15px -15px 0px 0px;

    .folder-image {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 5px;
      border:1px dashed #ddd;
      margin: 15px 15px 0 0;
      background: #f7f7f7;
      transition: .2s;
      cursor: pointer;

      .image-image {
        height: 80px;
        width: 90px;
        background: #fff;
        background-size: cover;
        background-position: center;

      }

      .image-title {
        margin-top: 5px;
        font-weight: 600;
        font-size: 12px;
        padding: 5px 0px 0;

      }

      &:hover {
        background: #ddd;
        border:1px dashed #888;
      }

    }

  }

}