.case-header {
  background: white;
  //padding: 0px 0px 15px 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -5px -15px 0 0;

  .header-field {
    margin: 5px 15px 0 0;
    flex: 1 1 40%;
    min-width: 280px;
    display: flex;
    flex-direction: row;

    &.max {
      flex: 1 1 100%;
    }

    &.flush {
      margin-top: 0;
    }
  }

  .header-label {
    flex: 0 0 150px;

    @extend .dp-title;
    color: white;
    background: $teal;
    padding: 10px 15px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
  }

  .header-value {
    @extend .header-label;
    flex: 1 0 auto;
    color: $body;
    background: #f7f7f7;
    margin-left:0px;
    text-transform: none;
  }

  .header-textarea {
    @extend .header-value;
    flex: 0 1 auto;
    line-height: 1.6;
  }
}

.case-documents {
  margin: -15px 0 0;
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  .result {
    //  flex: 1 0 300px;
    //  //background: #f7f7f7;
    //  //padding: 15px;
    display: flex;
    //flex-direction: row;
    border-bottom: #eee 1px solid;
    padding: 15px;
    padding-top:15px;
    //margin-top: 15px;
    cursor: pointer;
    transition: .2s;

    &:hover {
      background: #f7f7f7;
    }

    &:last-child {
      border-bottom: #eee 0px solid;
      //padding-bottom: 0px;

    }

    .result-icon {
      height: 40px;
      margin-right: 5px;
    }

    .result-content {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      justify-content: center;

      .dp-title {
        color: $primary;
        font-size: 14px;
      }

      p {
        font-size: 12px;
        color: #999;
      }
    }
  }
}